@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Explora las funcionalidades de tu aplicación.</p>

    <div class="d-flex justify-content-center mt-4">
        <a asp-action="Register" asp-controller="Auth" class="btn btn-success mx-2">Registrarse</a>
        <a asp-action="Login" asp-controller="Auth" class="btn btn-primary mx-2">Iniciar Sesión</a>
    </div>


</div>

